body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -10px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../关于_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:60px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:630px;
    top:48px;
    width:260px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:90px;
    top:32px;
    width:180px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:920px;
    top:54px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../关于_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:860px;
    height:3px;
}

.u9 {
    position:absolute;
    left:90px;
    top:125px;
    width:860px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../关于_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:10px;
    top:100px;
    width:80px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:3px;
    width:76px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../关于_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:170px;
    top:188px;
    width:620px;
    height:280px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:626px;
    height:286px;
}

.u13 {
    position:absolute;
    left:2px;
    top:132px;
    width:616px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:10px;
    top:638px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:690px;
    width:220px;
    height:150px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u16 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:20px;
    top:700px;
    width:100px;
    height:100px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u18 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:130px;
    top:700px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:130px;
    top:726px;
    width:100px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:20px;
    top:806px;
    width:200px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u22_container {
    position:absolute;
    left:250px;
    top:690px;
    width:220px;
    height:150px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u23 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u24_container {
    position:absolute;
    left:260px;
    top:700px;
    width:100px;
    height:100px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u25 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:370px;
    top:700px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:370px;
    top:726px;
    width:100px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:260px;
    top:806px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u29_container {
    position:absolute;
    left:490px;
    top:690px;
    width:220px;
    height:150px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u30 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u31_container {
    position:absolute;
    left:500px;
    top:700px;
    width:100px;
    height:100px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u32 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:610px;
    top:700px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:610px;
    top:726px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:500px;
    top:806px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u36_container {
    position:absolute;
    left:730px;
    top:690px;
    width:220px;
    height:150px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u37 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u38_container {
    position:absolute;
    left:740px;
    top:700px;
    width:100px;
    height:100px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u39 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:850px;
    top:700px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:850px;
    top:726px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:740px;
    top:806px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u43_container {
    position:absolute;
    left:10px;
    top:870px;
    width:220px;
    height:150px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u44 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u45_container {
    position:absolute;
    left:20px;
    top:880px;
    width:100px;
    height:100px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u46 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:130px;
    top:880px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:130px;
    top:906px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:20px;
    top:986px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u50_container {
    position:absolute;
    left:250px;
    top:870px;
    width:220px;
    height:150px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u51 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u52_container {
    position:absolute;
    left:260px;
    top:880px;
    width:100px;
    height:100px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u53 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:370px;
    top:880px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:370px;
    top:906px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:260px;
    top:986px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u57_container {
    position:absolute;
    left:490px;
    top:870px;
    width:220px;
    height:150px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u58 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u59_container {
    position:absolute;
    left:500px;
    top:880px;
    width:100px;
    height:100px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u60 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:610px;
    top:880px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:610px;
    top:906px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:500px;
    top:986px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u64_container {
    position:absolute;
    left:730px;
    top:870px;
    width:220px;
    height:150px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u65 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u66_container {
    position:absolute;
    left:740px;
    top:880px;
    width:100px;
    height:100px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u67 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:850px;
    top:880px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:850px;
    top:906px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:740px;
    top:986px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u71_container {
    position:absolute;
    left:10px;
    top:1050px;
    width:220px;
    height:150px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u72 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u73_container {
    position:absolute;
    left:20px;
    top:1060px;
    width:100px;
    height:100px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u74 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:130px;
    top:1060px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:130px;
    top:1086px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:20px;
    top:1166px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u78_container {
    position:absolute;
    left:250px;
    top:1050px;
    width:220px;
    height:150px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u79 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u80_container {
    position:absolute;
    left:260px;
    top:1060px;
    width:100px;
    height:100px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u81 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:370px;
    top:1060px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:370px;
    top:1086px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:260px;
    top:1166px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u85_container {
    position:absolute;
    left:490px;
    top:1050px;
    width:220px;
    height:150px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u86 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u87_container {
    position:absolute;
    left:500px;
    top:1060px;
    width:100px;
    height:100px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u88 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:610px;
    top:1060px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:610px;
    top:1086px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:500px;
    top:1166px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../关于_files/u15_normal.png');
}

.u92_container {
    position:absolute;
    left:730px;
    top:1050px;
    width:220px;
    height:150px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:156px;
}

.u93 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../关于_files/u17_normal.png');
}

.u94_container {
    position:absolute;
    left:740px;
    top:1060px;
    width:100px;
    height:100px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u95 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:850px;
    top:1060px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:850px;
    top:1086px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:740px;
    top:1166px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../关于_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:10px;
    top:1230px;
    width:940px;
    height:170px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:176px;
}

.u100 {
    position:absolute;
    left:2px;
    top:77px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../关于_files/u0_normal.png');
}

.u101_container {
    position:absolute;
    left:20px;
    top:1240px;
    width:60px;
    height:60px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u102 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:20px;
    top:1304px;
    width:130px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:470px;
    top:1240px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:250px;
    top:1240px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:730px;
    top:1240px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:730px;
    top:1278px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:730px;
    top:1304px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:250px;
    top:1278px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:250px;
    top:1304px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:470px;
    top:1278px;
    width:140px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_line {
    background-image: url('../关于_files/u112_line.png');
}

.u112_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u112 {
    position:absolute;
    left:10px;
    top:618px;
    width:940px;
    height:10px;
    
}

.u113 {
    position:absolute;
    left:170px;
    top:490px;
    width:620px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:170px;
    top:154px;
    width:620px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

