body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -10px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../首页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:60px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:630px;
    top:48px;
    width:260px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:90px;
    top:32px;
    width:180px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:920px;
    top:54px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../首页_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:100px;
    width:940px;
    height:380px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:386px;
}

.u10 {
    position:absolute;
    left:2px;
    top:182px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../首页_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:150px;
    top:110px;
    width:660px;
    height:340px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:346px;
}

.u12 {
    position:absolute;
    left:2px;
    top:162px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:110px;
    top:238px;
    width:40px;
    height:83px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:810px;
    top:238px;
    width:40px;
    height:83px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../首页_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:10px;
    top:510px;
    width:460px;
    height:290px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:296px;
}

.u24 {
    position:absolute;
    left:2px;
    top:137px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:10px;
    top:510px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../首页_files/u23_normal.png');
}

.u26_container {
    position:absolute;
    left:490px;
    top:510px;
    width:460px;
    height:290px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:296px;
}

.u27 {
    position:absolute;
    left:2px;
    top:137px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:490px;
    top:510px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../首页_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:10px;
    top:830px;
    width:940px;
    height:170px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:176px;
}

.u30 {
    position:absolute;
    left:2px;
    top:77px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../首页_files/u0_normal.png');
}

.u31_container {
    position:absolute;
    left:20px;
    top:840px;
    width:60px;
    height:60px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u32 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:20px;
    top:904px;
    width:130px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:470px;
    top:840px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:250px;
    top:840px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:730px;
    top:840px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:730px;
    top:878px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:730px;
    top:904px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:250px;
    top:878px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:250px;
    top:904px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:470px;
    top:878px;
    width:140px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

